* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.main {
    height: 100vh;
}

#placesList {
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

#placesList.hide {
    margin-left: -250px;
}

@media (max-width: 576px) { 
    #placesList {
        position: absolute;
        margin-left: 0;
        z-index: 10;
    }
}

.place {
    cursor: pointer;
    font-size: 1.3em;
    padding: 5px;
}

.place.selected {
    background-color: lightgray;
}

.place:hover {
    background-color: #f0f0f0;
}

.place address {
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mapcontainer {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    text-align: right;
}

#mapDiv {
    background-color: blue;
    height: 100%;
}

#placeDetails {
    background-color: green;
    position: absolute;
    top: calc(100% - 250px);
    height: 250px;
    width: 100%;
    z-index: 5;
}

#placeDetails.hide {
    top: 100%;
}

@media (min-width: 576px) {
    .hide-gt-xs {
        display: none;
    }
}