* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.main {
    height: 100vh;
}

#placesList {
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    padding: 10px;
}

#placesList.hide {
    margin-left: -250px;
}

.place {
    cursor: pointer;
    font-size: 1.3em;
    padding: 5px;
}

.place:hover {
    background-color: #f0f0f0;
}

.place address {
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mapcontainer {
    background-color: yellow;
    overflow: hidden;
    flex-grow: 1;
}

#map {
    background-color: blue;
    height: calc(100% - 250px);
}

#map.hideDetails {
    height: 100%;
}

#placeDetails {
    background-color: green;
    height: 250px;
}
